<a href="https://colab.research.google.com/github/cjchengtw/2nd-ML100Days/blob/master/Day_004_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd

In [0]:
!wget "http://ai100.cupoy.com/file-download/part01/application_train.csv"

--2019-05-02 09:54:19--  http://ai100.cupoy.com/file-download/part01/application_train.csv
Resolving ai100.cupoy.com (ai100.cupoy.com)... 99.84.194.36, 99.84.194.28, 99.84.194.88, ...
Connecting to ai100.cupoy.com (ai100.cupoy.com)|99.84.194.36|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 166133370 (158M) [text/csv]
Saving to: ‘application_train.csv’

application_train.c 100%[===================>] 158.44M   100MB/s    in 1.6s

2019-05-02 09:54:20 (100 MB/s) - ‘application_train.csv’ saved [166133370/166133370]

In [0]:
# 設定 data_path, 並讀取 app_train
#dir_data = './data/'
#f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_train = '/content/application_train.csv'
app_train = pd.read_csv(f_app_train)

In [0]:
## 作業
#將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [0]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [0]:
data = app_train['WEEKDAY_APPR_PROCESS_START']
np_data = np.array(app_train['WEEKDAY_APPR_PROCESS_START'])
print(len(data))

307511

In [0]:

from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.compose import ColumnTransformer
onehotencoder = OneHotEncoder()
x = onehotencoder.fit_transform(np_data.reshape(1, -1))
print(x)

  (0, 0)	1.0
  (0, 1)	1.0
  (0, 2)	1.0
  (0, 3)	1.0
  (0, 4)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 7)	1.0
  (0, 8)	1.0
  (0, 9)	1.0
  (0, 10)	1.0
  (0, 11)	1.0
  (0, 12)	1.0
  (0, 13)	1.0
  (0, 14)	1.0
  (0, 15)	1.0
  (0, 16)	1.0
  (0, 17)	1.0
  (0, 18)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 21)	1.0
  (0, 22)	1.0
  (0, 23)	1.0
  (0, 24)	1.0
  :	:
  (0, 307486)	1.0
  (0, 307487)	1.0
  (0, 307488)	1.0
  (0, 307489)	1.0
  (0, 307490)	1.0
  (0, 307491)	1.0
  (0, 307492)	1.0
  (0, 307493)	1.0
  (0, 307494)	1.0
  (0, 307495)	1.0
  (0, 307496)	1.0
  (0, 307497)	1.0
  (0, 307498)	1.0
  (0, 307499)	1.0
  (0, 307500)	1.0
  (0, 307501)	1.0
  (0, 307502)	1.0
  (0, 307503)	1.0
  (0, 307504)	1.0
  (0, 307505)	1.0
  (0, 307506)	1.0
  (0, 307507)	1.0
  (0, 307508)	1.0
  (0, 307509)	1.0
  (0, 307510)	1.0