<a href="https://colab.research.google.com/github/cjchengtw/2nd-ML100Days/blob/master/homerowk/Day_007_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 處理 outliers
* 新增欄位註記
* outliers 或 NA 填補
    1. 平均數 (mean)
    2. 中位數 (median, or Q50)
    3. 最大/最小值 (max/min, Q100, Q0)
    4. 分位數 (quantile)

# [作業目標]
- 仿造範例的資料操作, 試著進行指定的離群值處理

# [作業重點]
- 計算 AMT_ANNUITY 的分位點 (q0 - q100) (Hint : np.percentile, In[3])
- 將 AMT_ANNUITY 的 NaN 用中位數取代 (Hint : q50, In[4])
- 將 AMT_ANNUITY 數值轉換到 -1 ~ 1 之間 (Hint : 參考範例, In[5])
- 將 AMT_GOOD_PRICE 的 NaN 用眾數取代 (In[6])

In [0]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics

%matplotlib inline

# 設定 data_path
dir_data = './data/'

In [0]:
!wget "http://ai100.cupoy.com/file-download/part01/application_train.csv"

--2019-05-09 06:37:30--  http://ai100.cupoy.com/file-download/part01/application_train.csv
Resolving ai100.cupoy.com (ai100.cupoy.com)... 99.84.254.72, 99.84.254.71, 99.84.254.124, ...
Connecting to ai100.cupoy.com (ai100.cupoy.com)|99.84.254.72|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 166133370 (158M) [text/csv]
Saving to: ‘application_train.csv’

application_train.c 100%[===================>] 158.44M   114MB/s    in 1.4s

2019-05-09 06:37:31 (114 MB/s) - ‘application_train.csv’ saved [166133370/166133370]

In [2]:
#f_app = os.path.join(dir_data, 'application_train.csv')
#print('Path of read in data: %s' % (f_app))
f_app = '/content/application_train.csv'
app_train = pd.read_csv(f_app)
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 1. 列出 AMT_ANNUITY 的 q0 - q100
## 2.1 將 AMT_ANNUITY 中的 NAs 暫時以中位數填補
## 2.2 將 AMT_ANNUITY 的數值標準化至 -1 ~ 1 間
## 3. 將 AMT_GOOD_PRICE 的 NAs 以眾數填補

In [3]:
"""
YOUR CODE HERE
"""
# 1: 計算 AMT_ANNUITY 的 q0 - q100
q_all = app_train['AMT_ANNUITY'][:101]

pd.DataFrame({'q': list(range(101)),
              'value': q_all})

       q    value
0      0  24700.5
1      1  35698.5
2      2   6750.0
3      3  29686.5
4      4  21865.5
5      5  27517.5
6      6  41301.0
7      7  42075.0
8      8  33826.5
9      9  20250.0
10    10  21177.0
11    11  10678.5
12    12   5881.5
13    13  28966.5
14    14  32778.0
15    15  20160.0
16    16  26149.5
17    17  13500.0
18    18   7875.0
19    19  17563.5
20    20  21375.0
21    21  37561.5
22    22  32521.5
23    23  23850.0
24    24  12703.5
25    25  11074.5
26    26  27076.5
27    27  23827.5
28    28  57676.5
29    29   9000.0
..   ...      ...
71    71  24435.0
72    72  26140.5
73    73  28894.5
74    74  21775.5
75    75  37800.0
76    76   6750.0
77    77  15781.5
78    78  28273.5
79    79   5301.0
80    80   6750.0
81    81  14593.5
82    82  30280.5
83    83  13500.0
84    84  41076.0
85    85  38443.5
86    86  22072.5
87    87  10264.5
88    88  16965.0
89    89  30690.0
90    90  23755.5
91    91  31288.5
92    92  25065.0
93    93  27954.0
94    94  64107.0
95    95   6696.0
96    96  22599.0
97    97  14683.5
98    98  32017.5
99    99  26541.0
100  100   9000.0

[101 rows x 2 columns]

In [4]:
# 2.1 將 NAs 以 q50 填補
print("Before replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull()))

"""
Your Code Here
"""
q_50 = np.median(q_all)
app_train.loc[app_train['AMT_ANNUITY'].isnull(),'AMT_ANNUITY'] = q_50

print("After replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull()))

Before replace NAs, numbers of row that AMT_ANNUITY is NAs: 12
After replace NAs, numbers of row that AMT_ANNUITY is NAs: 0

### Hints: Normalize function (to -1 ~ 1)
$ y = 2*(\frac{x - min(x)}{max(x) - min(x)} - 0.5) $

In [5]:
# 2.2 Normalize values to -1 to 1
print("== Original data range ==")
print(app_train['AMT_ANNUITY'].describe())

def normalize_value(x):
    """
    Your Code Here, compelete this function
    """
        
    min_x = min(x)
    max_x = max(x)
    x = np.array([2 * ((i-min_x)/(max_x-min_x - 0.5)) for i in x])
    return x

app_train['AMT_ANNUITY_NORMALIZED'] = normalize_value(app_train['AMT_ANNUITY'])

print("== Normalized data range ==")
app_train['AMT_ANNUITY_NORMALIZED'].describe()

== Original data range ==
count    307511.000000
mean      27108.475724
std       14493.463039
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64
== Normalized data range ==

count    307511.000000
mean          0.198846
std           0.113049
min           0.000000
25%           0.116287
50%           0.181643
75%           0.257249
max           2.000004
Name: AMT_ANNUITY_NORMALIZED, dtype: float64

In [26]:
# 3
print("Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

# 列出重複最多的數值
"""
Your Code Here
"""
value_most = statistics.mode(app_train['AMT_GOODS_PRICE'])
print(value_most)

mode_goods_price = list(app_train['AMT_GOODS_PRICE'].value_counts().index)
app_train.loc[app_train['AMT_GOODS_PRICE'].isnull(), 'AMT_GOODS_PRICE'] = mode_goods_price[0]

print("After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 0
450000.0
After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 0

In [36]:
a = app_train['AMT_GOODS_PRICE']
len(a[a==450000.0])
# 計算value_most(衆數)總共重複幾次

26300